*{
    font-family: 'Genos', sans-serif;

}
body{
    background-image: linear-gradient(to right,#965757,#6f44d3);
}
p{
    text-align: justify;
    font-size: 1em;
}
.texto{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 26.8%;
    color: rgb(99, 96, 93);
    box-shadow: 5px 5px 35px rgb(85, 84, 84);
    border-radius: 3%;
}
h1{
    text-align: center;
    text-shadow: 2px 2px 4px #9b9494;
}
h2{
    margin-top: 5%;
    font-size: 21px;
}
.div2{
    margin-top: 2%;
    background-color: white;
    width: 600px;
    padding: 10px;
    margin-left: 26.8%;
    color: rgb(99, 96, 93);
    box-shadow: 5px 5px 35px rgb(85, 84, 84);
    border-radius: 3%;
}
.div2:hover{
    background-color: rgb(63, 65, 65);
    width: 600px;
    padding: 10px;
    margin-left: 26.8%;
    color: rgb(255, 250, 244);
    box-shadow: 5px 5px 35px rgb(85, 84, 84);
    border-radius: 3%;
}
nav{
    padding: 8px;
    display: flex;
    margin: auto;
    align-items: center;
    max-width: auto;
    background-color: rgba(207, 204, 200, 0.253);
    border-radius: 1rem;
}
#logo{
    width: 140px;
    margin-top: 1px;
    margin-bottom: -6px;
}
