*{
    font-family: 'Cormorant Garamond', serif;

}
body{
    background-image: linear-gradient(to right,#d0d18e,#da76cc88);
}
p{
    text-align: justify;
    font-size: 1em;
}
.texto{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    color: rgb(226, 173, 109);
    box-shadow: 5px 5px 35px rgb(85, 84, 84);
    border-radius: 3%;
}
h1{
    text-align: center;
    text-shadow: 2px 2px 4px #ffbfbf;
}
h2{
    margin-top: 5%;
}